---
---

@import "{{ site.theme }}";
footer p {
  font-size: x-small;
}

#header_wrap, #footer_wrap {
  color: #4C4C4C;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
