---
---

@import "{{ site.theme }}";
footer p {
  font-size: x-small;
}

$custom-bg-color: #DDDDDD;
$custom-font-color: #4C4C4C;
$custom-accent-color: #0095BF;
$custom-font: Palatino;

#main_content, #project_title, #forkme_banner, p, th, h2 {
  font-family: $custom-font, serif;
}

#forkme_banner {
  background: url("../images/blacktocat.png") #0095BF no-repeat 95% 50%;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover {
    color: $custom-accent-color;
    teext-decoration: underline;
    text-decoration-style: solid;
}

table, th, td {
  border-left: none;
  border-right: none;
}

#header_wrap, #footer_wrap {
  background: $custom-font-color;
}

#footer, #project_title {
  color: $custom-bg-color;
}

h2, #main_content {
  color: $custom-font-color;
}

th {
  background: $custom-font-color;
  color: $custom-bg-color;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
